#highlights_body {
	width: 100%;
}
#highlights_body a {
	color: black;
}
.player_wrapper {
}
.player {
}
.scroller {

	width: 100%;
	float: left;
	clear: both;
}
.rssIcon {
	float: left;
	clear: both;
}
#selected.scroll_item {
	background-color: #c8c8c8;
}

.scroll_item {
	display: block;
	clear: right;
	float: left;
	cursor: pointer;
	min-height: 200px;
	border: none;
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(249,249,249,1)), color-stop(100%, rgba(240,240,240,1)));
	background: -webkit-linear-gradient(top, rgba(249,249,249,1) 50%, rgba(240,240,240,1) 100%);
	background: -moz-linear-gradient(top, rgba(249,249,249,1) 50%, rgba(240,240,240,1) 100%);
	background: -o-linear-gradient(top, rgba(249,249,249,1) 50%, rgba(240,240,240,1) 100%);
	background: -ms-linear-gradient(top, rgba(249,249,249,1) 50%, rgba(240,240,240,1) 100%);
	background: linear-gradient(top, rgba(249,249,249,1) 50%, rgba(240,240,240,1) 100%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 2px 1px rgba(255,255,255,.97);
	-moz-box-shadow: inset 0 2px 1px rgba(255,255,255,.97);
	box-shadow: inset 0 2px 1px rgba(255,255,255,.97);
	padding: 15px;
}
.thumb_img {
	margin-bottom: 5px;
	height: 90px;
	width: 140px;
	padding-left: 11px;
	padding-top: 10px;
}
.preview {
	line-height: 12px;
	font-size: 10px;
	width: 160px;
	height: 269px;    
}
.preview h4 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0px;
}
.play_button {
	padding: 8px;
	background-color: #e9e9e9;
	border-color: #c9c9c9;
	border-width: 1px;
	border-style: solid;
	float: right;
}
.main_display {
	padding-left: 0px;
	padding-top: 0px;
	margin-left: 0px;
	margin-top: 0px!important;
	margin-right: 12px;
	height: 480px;
	width: 853px;
	overflow: hidden;
}
.media_contain {
	margin-right: auto;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	height: 335px;
	width: 480px;
	margin-left: auto;
	margin-top: 0px!important;
}
iframe {
	margin-top: 0px!important;
	/*height: 480px!important;
	width: 853px!important;*/
}
.player {
	margin-left: 0px;
	margin-top: 0px!important;
}
.media_contain div {
}
.audio_wrap {
	margin-right: auto;
	margin-left: auto;
	padding-left: 40px;
	padding-top: 25px;
}
.audio_wrap img {
	margin-right: auto;
	margin-left: auto;
}
.rssIcon {
	padding-top: 12px;
	float: left;
	width: 100%;
}
.rssIcon img {
	float: left;
}
.rssIcon a {
	padding-left: 12px;
	float: left;
}
.audioplayer {
	padding-left: 100px;
	padding-top: 311px;
}
.downloads {}

.downloads {
	margin-top: 20px;
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color: #ededed;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #999999;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	padding: 7px 15px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
}.downloads:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.downloads:active {
	position:relative;
	top:1px;
}
