.player_wrapper{float: left;}
.player{float: left;clear: both;}
.scroller{float: left;clear: both;}
.rssIcon{float: left;clear: both;}
.scroll_item{clear: left; float: left;}
.thumb_img{margin-right: 12px; margin-bottom: 25px; float: left; border-color: white; border-width: 2px; border-style: solid; background-color: #dddddd; height: 95px; width: 120px;}
.preview{ width: 600px; }.play_button{display: block; height: 38px; width: 73px; background-image: url(images/play_button.png); background-repeat: no-repeat; float: right;}
.rssIcon{width: 100%;}
.mejs-container{margin-top: 20px!important}
		