.ProformsItem_item {padding-bottom: 12px; padding-top: 12px; border-top-color: #e3e3e3; border-top-width: 1px; border-top-style: dashed; float: left;clear: left; width: 100%;}
.ProformsItem_item .map_img{border-color: #cbcbcb; border-width: 2px; border-style: solid; float: left; margin-right: 12px;}
.ProformsItem_item .ProformsItem_price{float: left;}
.ProformsItem_item h2{ margin-top: 3px; }
.ProformsItem_item h3{margin-top: 0px;}
.proform_slider{position: relative;}
.tooltip_helper{display: none;}
.proform-attributes input,.proform-attributes select{margin:0!important;}
.formGrayOut{ background: #ccc;}
.ajax_loader {padding-left: 22px; width: 80px!important;margin-right: 0px!important;}
.ccm-ui label{display: inline-block!important; width:100%;}
.required {color: red!important; display: inline-block!important;padding-left: 6px;line-height: 22px;float: left;position: absolute; font-size: 22px;}
a.next_step,a.prev_step,a.submitit{color: white!important;}
.form_step{float: left; /* position: absolute;*/}
.proforms_submit{display: block; clear: both;}
.proform_slider{margin-bottom: 35px;position: relative;}
.bar_item{float: left; display: block; min-width: 155px; height: 40px;padding-top: 6px;line-height: 32px;border: 1px solid #d2d2d2;background: #f2f2f2; /* Old browsers */ background: -moz-linear-gradient(top,  #f2f2f2 0%, #d8d8d8 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #f2f2f2 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #f2f2f2 0%,#d8d8d8 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #f2f2f2 0%,#d8d8d8 100%); /* IE10+ */ background: linear-gradient(to bottom,  #f2f2f2 0%,#d8d8d8 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */ }
.current_slide{background: #e2e2e2; /* Old browsers */background: -moz-linear-gradient(top,  #e2e2e2 0%, #c4c4c4 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(100%,#c4c4c4)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top,  #e2e2e2 0%,#c4c4c4 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top,  #e2e2e2 0%,#c4c4c4 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top,  #e2e2e2 0%,#c4c4c4 100%); /* IE10+ */background: linear-gradient(to bottom,  #e2e2e2 0%,#c4c4c4 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */}
.bar_item .number{float: left; font-size: 20px; margin-left: 22px; color: #828282; -webkit-border-radius: 32px;border-radius: 32px; background-color:#fbfafa; display: block; width: 30px; height: 30px; text-align: center;}
.bar_item .step_name{ margin-left: 68px;font-weight: bold;color: #000000; }
.bar_item {min-width: 190px;}
.bar_item:first-child{-webkit-border-radius: 5px 0px 0px 5px;border-radius: 5px 0px 0px 5px;}
.bar_item:last-child{-webkit-border-radius: 0px 5px 5px 0px;border-radius: 0px 5px 5px 0px;}
.bar_item :hover{cursor: pointer;}
.form_step .multiplex_set .control-label {width: 120px!important;}
input.input_error,select.input_error,textarea.input_error,.input_error{
-webkit-box-shadow: 0px 0px 6px 1px rgba(256, 0, 0, .5)!important;
box-shadow: 0px 0px 6px 1px rgba(256, 0, 0, .5)!important;
-moz-box-shadow: 0px 0px 6px 1px rgba(256, 0, 0, .5)!important;
-webkit-border-radius: 5px;
border-radius: 5px;
display:inline-block;}
.response{margin-top: 42px;}
.address_form{margin-left: 170px!important;}
.address_form input,.address_form select{margin: 8px 0!important;}
	.address_form input,
	.ccm-ui.proform_slider input[type=text],
	.ccm-ui.proform_slider input.hasDatepicker,
	.ccm-ui.proform_slider textarea,
	.ccm-ui.proform_slider select,
	.ccm-ui.proform_slider .uneditable-input{
	height: 28px!important;
	width: 100%!important;
}

.ccm-ui.proform_slider  input[type=checkbox]{height: auto!important;width: auto!important;}

.ccm-ui.proform_slider  textarea{
	height: 150px!important;
}

.ccm-ui.proform_slider  select{
	height: 36px!important;
}

.proform_slider .recaptchatable #recaptcha_response_field {
	width: 153px!important;
	position: relative!important;
	bottom: 0px !important;
	padding: 0 0 0 0!important;
	margin: 0 0 0 0!important;
	font-size: 10pt;
}

#form_total,#form_tax{font-weight: bold;font-size: 18px;float:right;width: 100%;}
#paid_total{display: inline-block;}

@media (max-width: 979px) {
	.bar_item{min-width: 125px;}
}

@media (max-width: 767px) {
	.address_form input,
	.ccm-ui.proform_slider input[type=text],
	.ccm-ui.proform_slider input.hasDatepicker,
	.ccm-ui.proform_slider textarea,
	.ccm-ui.proform_slider select,
	.ccm-ui.proform_slider .uneditable-input{
		height: 28px!important;
		width: 100%!important;
	}
	.bar_item{min-width: 75px;}
	.bar_item .step_name{display: none;}
}