#attributeValuesWrap {margin-top:4px; width:400px}
#attributeValuesWrap .akPriceSelectWrap{ margin-bottom:2px; border:1px solid #eee; padding:2px;}
#attributeValuesWrap .akPriceSelectWrap:hover{border:1px solid #ddd; }
#attributeValuesWrap .akPriceSelectWrap .leftCol{float:left; }
#attributeValuesWrap .akPriceSelectWrap .rightCol{float:right; text-align:right }

#addAttributeValueWrap{ margin-top:8px }
#addAttributeValueWrap input.faint{ color:#999 }
#addAttributeValueWrap a{cursor:pointer}

#allowOtherValuesWrap{margin-top:16px}


.akPriceSelectWrapSortable:hover {cursor: move}