input.colorpicker_none {
	margin-top: -3px;
	background: url('images/no-color.png') no-repeat center center;
	border: 1px solid #999;
	height: 24px;
	width: 24px;
}
input.colorpicker_none:hover {
	border: 1px solid #333;
}

input.colorpicker_submit {
	margin-top: -3px;
	margin-left: 4px;
	background: url('images/color-wheel.png') no-repeat center center;
	border: 1px solid #999;
	height: 24px;
	width: 24px;
}
input.colorpicker_submit:hover {
	border: 1px solid #333;
}