
#ps .XX_color {
	color:#COLOR1;
}
#ps .XX_color:hover {
	color:#COLOR2;
}
#ps .XX_bg {
	background:#COLOR1;
}
.location_style_XX a {
	color:#COLOR1;
}
#ps .location_style_XX #ondeck_content {
    background:url('../images/ondeck_bg_XX.jpg') repeat center center fixed; 
}
#ps .location_style_XX #ondeck_nav_container .navlogo {
    background:url('../images/ps_logo_ondeck_XX.png') no-repeat; 
}
#ps .location_style_XX #ondeck_nav .button.purple {
	color:#COLOR1;
}
#ps .location_style_XX #ondeck_users_container {
	background:url('../images/stripesdark_XX.png') repeat;
}
#ps .location_style_XX #ondeck_users_button.button.selected {
	background:#COLOR1;
}
#ps .location_style_XX .ondeck_settings_popup_heading {
    background-color:#COLOR1;
}
#ps .location_style_XX .ps_logo_ondeck_large {
    background:url('../images/ps_logo_ondeck_large_XX.png') no-repeat; 
}
#ps .location_style_XX #ondeck_session_button.button.live {
	color:#COLOR1;
}
#ps .location_style_XX input[type='submit'].btn,
#ps .location_style_XX .button {
    background-color:#COLOR_GRADB;
    background-image:-moz-linear-gradient(top,#COLOR_GRADA,#COLOR_GRADB);
    background-image:-ms-linear-gradient(top,#COLOR_GRADA,#COLOR_GRADB);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#COLOR_GRADA),to(#COLOR_GRADB));
    background-image:-webkit-linear-gradient(top,#COLOR_GRADA,#COLOR_GRADB);
    background-image:-o-linear-gradient(top,#COLOR_GRADA,#COLOR_GRADB);
    background-image:linear-gradient(top,#COLOR_GRADA,#COLOR_GRADB);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#COLOR_GRADA',endColorstr='#COLOR_GRADB',GradientType=0);
    border:2px solid #COLOR_GRADA;
    border-color: #COLOR_BORDER1 #COLOR_BORDER2 #COLOR_BORDER3 #COLOR_BORDER4;
}
#ps .location_style_XX a.btn:hover,
#ps .location_style_XX .button a:hover,
#ps .location_style_XX a.button:hover,
#ps .location_style_XX input.btn:hover,
#ps .location_style_XX input.button:hover {
    color:#fff;
    text-decoration:none;
    background-image:-moz-linear-gradient(top,#COLOR_GRADB,#COLOR_GRADA);
    background-image:-ms-linear-gradient(top,#COLOR_GRADB,#COLOR_GRADA);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#COLOR_GRADB),to(#COLOR_GRADA));
    background-image:-webkit-linear-gradient(top,#COLOR_GRADB,#COLOR_GRADA);
    background-image:-o-linear-gradient(top,#COLOR_GRADB,#COLOR_GRADA);
    background-image:linear-gradient(top,#COLOR_GRADB,#COLOR_GRADA);
    background-position: 0;
}