/* BAY AREA */

#ps .ba_color {
	color:#f9008c;
}
#ps .ba_color:hover {
	color:#cf008d;
}
#ps .ba_bg {
	background:#f9008c;
}
.location_style_ba a {
	color:#f9008c;
}
#ps .location_style_ba #ondeck_content {
    background:url('../images/ondeck_bg_ba.jpg') repeat center center fixed; 
}
#ps .location_style_ba #ondeck_nav_container .navlogo {
    background:url('../images/ps_logo_ondeck_ba.png') no-repeat; 
}
#ps .location_style_ba #ondeck_nav .button.purple {
	color:#f9008c;
}
#ps .location_style_ba #ondeck_users_container {
	background:url('../images/stripesdark_ba.png') repeat;
}
#ps .location_style_ba #ondeck_users_button.button.selected {
	background:#f9008c;
}
#ps .location_style_ba .ondeck_settings_popup_heading {
    background-color:#f9008c;
}
#ps .location_style_ba .ps_logo_ondeck_large {
    background:url('../images/ps_logo_ondeck_large_ba.png') no-repeat; 
}
#ps .location_style_ba #ondeck_session_button.button.live {
	color:#f9008c;
}
#ps .location_style_ba input[type='submit'].btn,
#ps .location_style_ba .button {
    background-color:#cf008d;
    background-image:-moz-linear-gradient(top,#ff1c90,#cf008d);
    background-image:-ms-linear-gradient(top,#ff1c90,#cf008d);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#ff1c90),to(#cf008d));
    background-image:-webkit-linear-gradient(top,#ff1c90,#cf008d);
    background-image:-o-linear-gradient(top,#ff1c90,#cf008d);
    background-image:linear-gradient(top,#ff1c90,#cf008d);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1c90',endColorstr='#cf008d',GradientType=0);
    border:2px solid #ff1c90;
    border-color: #ff4ca8 #f2008b #b10078 #ff199f;
}
#ps .location_style_ba a.btn:hover,
#ps .location_style_ba .button a:hover,
#ps .location_style_ba a.button:hover,
#ps .location_style_ba input.btn:hover,
#ps .location_style_ba input.button:hover {
    color:#fff;
    text-decoration:none;
    background-image:-moz-linear-gradient(top,#cf008d,#ff1c90);
    background-image:-ms-linear-gradient(top,#cf008d,#ff1c90);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#cf008d),to(#ff1c90));
    background-image:-webkit-linear-gradient(top,#cf008d,#ff1c90);
    background-image:-o-linear-gradient(top,#cf008d,#ff1c90);
    background-image:linear-gradient(top,#cf008d,#ff1c90);
    background-position: 0;
}


/* SANTA CRUZ */ 
#ps .sc_color {
	/*color:#009bd8;*/
	color:#333;
}
#ps .sc_color:hover {
	color:#00d2ff;
}
#ps .sc_bg {
	background:#009bd8;
}
.location_style_sc a {
	color:#009bd8;
}
#ps .location_style_sc #ondeck_content {
    background:url('../images/ondeck_bg_sc.jpg') repeat center center fixed; 
}
#ps .location_style_sc #ondeck_nav_container .navlogo {
    background:url('../images/ps_logo_ondeck_sc.png') no-repeat; 
}
#ps .location_style_sc #ondeck_nav .button.purple {
	color:#009bd8;
}
#ps .location_style_sc #ondeck_users_container {
	background:url('../images/stripesdark_sc.png') repeat;
}
#ps .location_style_sc #ondeck_users_button.button.selected {
	background:#009bd8;
}
#ps .location_style_sc .ondeck_settings_popup_heading {
    background-color:#009bd8;
}
#ps .location_style_sc .ps_logo_ondeck_large {
    background:url('../images/ps_logo_ondeck_large_sc.png') no-repeat; 
}
#ps .location_style_sc #ondeck_session_button.button.live {
	color:#009bd8;
}
#ps .location_style_sc input[type="submit"].btn,
#ps .location_style_sc .button {
    background-color:#286e8a;
    background-image:-moz-linear-gradient(top,#4a9bba,#286e8a);
    background-image:-ms-linear-gradient(top,#4a9bba,#286e8a);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#4a9bba),to(#286e8a));
    background-image:-webkit-linear-gradient(top,#4a9bba,#286e8a);
    background-image:-o-linear-gradient(top,#4a9bba,#286e8a);
    background-image:linear-gradient(top,#4a9bba,#286e8a);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a9bba',endColorstr='#286e8a',GradientType=0);
    border:2px solid #4a9bba;
    border-color: #71b0c9 #3d819c #23596e #5396b0;
}
#ps .location_style_sc a.btn:hover,
#ps .location_style_sc .button a:hover,
#ps .location_style_sc a.button:hover,
#ps .location_style_sc input.btn:hover,
#ps .location_style_sc input.button:hover {
    color:#fff;
    text-decoration:none;
    background-image:-moz-linear-gradient(top,#286e8a,#4a9bba);
    background-image:-ms-linear-gradient(top,#286e8a,#4a9bba);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#286e8a),to(#4a9bba));
    background-image:-webkit-linear-gradient(top,#286e8a,#4a9bba);
    background-image:-o-linear-gradient(top,#286e8a,#4a9bba);
    background-image:linear-gradient(top,#286e8a,#4a9bba);
    background-position: 0;
}


/* BANGKOK */
#ps .bk_color {
	/*color:#00c5e0;*/
	color:#333;
}
#ps .bk_color:hover {
	color:#00b1b0;
}
#ps .bk_bg {
	background:#00c5e0;
}
.location_style_bk a {
	color:#00c5e0;
}
#ps .location_style_bk #ondeck_content {
    background:url('../images/ondeck_bg_bk.jpg') repeat center center fixed; 
}
#ps .location_style_bk #ondeck_nav_container .navlogo {
    background:url('../images/ps_logo_ondeck_bk.png') no-repeat; 
}
#ps .location_style_bk #ondeck_nav .button.purple {
	color:#00c5e0;
}
#ps .location_style_bk #ondeck_users_container {
	background:url('../images/stripesdark_bk.png') repeat;
}
#ps .location_style_bk #ondeck_users_button.button.selected {
	background:#00c5e0;
}
#ps .location_style_bk .ondeck_settings_popup_heading {
    background-color:#00c5e0;
}
#ps .location_style_bk .ps_logo_ondeck_large {
    background:url('../images/ps_logo_ondeck_large_bk.png') no-repeat; 
}
#ps .location_style_bk #ondeck_session_button.button.live {
	color:#00c5e0;
}
#ps .location_style_bk input[type='submit'].btn,
#ps .location_style_bk .button {
    background-color:#00b1b0;
    background-image:-moz-linear-gradient(top,#01d5ff,#00b1b0);
    background-image:-ms-linear-gradient(top,#01d5ff,#00b1b0);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#01d5ff),to(#00b1b0));
    background-image:-webkit-linear-gradient(top,#01d5ff,#00b1b0);
    background-image:-o-linear-gradient(top,#01d5ff,#00b1b0);
    background-image:linear-gradient(top,#01d5ff,#00b1b0);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#01d5ff',endColorstr='#00b1b0',GradientType=0);
    border:2px solid #01d5ff;
    border-color: #36e1ff #00bfd8 #008f91 #00ebff;
}
#ps .location_style_bk a.btn:hover,
#ps .location_style_bk .button a:hover,
#ps .location_style_bk a.button:hover,
#ps .location_style_bk input.btn:hover,
#ps .location_style_bk input.button:hover {
    color:#fff;
    text-decoration:none;
    background-image:-moz-linear-gradient(top,#00b1b0,#01d5ff);
    background-image:-ms-linear-gradient(top,#00b1b0,#01d5ff);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#00b1b0),to(#01d5ff));
    background-image:-webkit-linear-gradient(top,#00b1b0,#01d5ff);
    background-image:-o-linear-gradient(top,#00b1b0,#01d5ff);
    background-image:linear-gradient(top,#00b1b0,#01d5ff);
    background-position: 0;
}

/* ARCATA / EUREKA */
#ps .ae_color {
	/*color:#8adc00;*/
	color:#333;
}

#ps .ae_color:hover {
	color:#82ae00;
}
#ps .ae_bg {
	background:#8adc00;
}
.location_style_ae a {
	color:#8adc00;
}
#ps .location_style_ae #ondeck_content {
    background:url('../images/ondeck_bg_ae.jpg') repeat center center fixed; 
}
#ps .location_style_ae #ondeck_nav_container .navlogo {
    background:url('../images/ps_logo_ondeck_ae.png') no-repeat; 
}
#ps .location_style_ae #ondeck_nav .button.purple {
	color:#8adc00;
}
#ps .location_style_ae #ondeck_users_container {
	background:url('../images/stripesdark_ae.png') repeat;
}
#ps .location_style_ae #ondeck_users_button.button.selected {
	background:#8adc00;
}
#ps .location_style_ae .ondeck_settings_popup_heading {
    background-color:#8adc00;
}
#ps .location_style_ae .ps_logo_ondeck_large {
    background:url('../images/ps_logo_ondeck_large_ae.png') no-repeat; 
}
#ps .location_style_ae #ondeck_session_button.button.live {
	color:#8adc00;
}
#ps .location_style_ae input[type='submit'].btn,
#ps .location_style_ae .button {
    background-color:#82ae00;
    background-image:-moz-linear-gradient(top,#90f807,#82ae00);
    background-image:-ms-linear-gradient(top,#90f807,#82ae00);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#90f807),to(#82ae00));
    background-image:-webkit-linear-gradient(top,#90f807,#82ae00);
    background-image:-o-linear-gradient(top,#90f807,#82ae00);
    background-image:linear-gradient(top,#90f807,#82ae00);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#90f807',endColorstr='#82ae00',GradientType=0);
    border:2px solid #90f807;
    border-color: #a9f83b #85cf05 #698e00 #9ee21a;
}
#ps .location_style_ae a.btn:hover,
#ps .location_style_ae .button a:hover,
#ps .location_style_ae a.button:hover,
#ps .location_style_ae input.btn:hover,
#ps .location_style_ae input.button:hover {
    color:#fff;
    text-decoration:none;
    background-image:-moz-linear-gradient(top,#82ae00,#90f807);
    background-image:-ms-linear-gradient(top,#82ae00,#90f807);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#82ae00),to(#90f807));
    background-image:-webkit-linear-gradient(top,#82ae00,#90f807);
    background-image:-o-linear-gradient(top,#82ae00,#90f807);
    background-image:linear-gradient(top,#82ae00,#90f807);
    background-position: 0;
}



/* RENO / TAHOE */
#ps .rn_color {
	/*color:#c3201d;*/
	color:#333;
}
#ps .rn_color:hover {
	color:#a60c1c;
}
#ps .rn_bg {
	background:#c3201d;
}
.location_style_rn a {
	color:#c3201d;
}
#ps .location_style_rn #ondeck_content {
    background:url('../images/ondeck_bg_rn.jpg') repeat center center fixed; 
}
#ps .location_style_rn #ondeck_nav_container .navlogo {
    background:url('../images/ps_logo_ondeck_rn.png') no-repeat; 
}
#ps .location_style_rn #ondeck_nav .button.purple {
	color:#c3201d;
}
#ps .location_style_rn #ondeck_users_container {
	background:url('../images/stripesdark_rn.png') repeat;
}
#ps .location_style_rn #ondeck_users_button.button.selected {
	background:#c3201d;
}
#ps .location_style_rn .ondeck_settings_popup_heading {
    background-color:#c3201d;
}
#ps .location_style_rn .ps_logo_ondeck_large {
    background:url('../images/ps_logo_ondeck_large_rn.png') no-repeat; 
}
#ps .location_style_rn #ondeck_session_button.button.live {
	color:#c3201d;
}
#ps .location_style_rn input[type='submit'].btn,
#ps .location_style_rn .button {
    background-color:#a60c1c;
    background-image:-moz-linear-gradient(top,#db382a,#a60c1c);
    background-image:-ms-linear-gradient(top,#db382a,#a60c1c);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#db382a),to(#a60c1c));
    background-image:-webkit-linear-gradient(top,#db382a,#a60c1c);
    background-image:-o-linear-gradient(top,#db382a,#a60c1c);
    background-image:linear-gradient(top,#db382a,#a60c1c);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#db382a',endColorstr='#a60c1c',GradientType=0);
    border:2px solid #db382a;
    border-color: #e26158 #b62422 #830d18 #c9393a;
}
#ps .location_style_rn a.btn:hover,
#ps .location_style_rn .button a:hover,
#ps .location_style_rn a.button:hover,
#ps .location_style_rn input.btn:hover,
#ps .location_style_rn input.button:hover {
    color:#fff;
    text-decoration:none;
    background-image:-moz-linear-gradient(top,#a60c1c,#db382a);
    background-image:-ms-linear-gradient(top,#a60c1c,#db382a);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#a60c1c),to(#db382a));
    background-image:-webkit-linear-gradient(top,#a60c1c,#db382a);
    background-image:-o-linear-gradient(top,#a60c1c,#db382a);
    background-image:linear-gradient(top,#a60c1c,#db382a);
    background-position: 0;
}
/* SAN DIEGO */ 
#ps .sd_color {
	/*color:#30afac;*/
	color:#333;
}
#ps .sd_color:hover {
	color:#1e9483;
}
#ps .sd_bg {
	background:#30afac;
}
.location_style_sd a {
	color:#30afac;
}
#ps .location_style_sd #ondeck_content {
    background:url('../images/ondeck_bg_sd.jpg') repeat center center fixed; 
}
#ps .location_style_sd #ondeck_nav_container .navlogo {
    background:url('../images/ps_logo_ondeck_sd.png') no-repeat; 
}
#ps .location_style_sd #ondeck_nav .button.purple {
	color:#30afac;
}
#ps .location_style_sd #ondeck_users_container {
	background:url('../images/stripesdark_sd.png') repeat;
}
#ps .location_style_sd #ondeck_users_button.button.selected {
	background:#30afac;
}
#ps .location_style_sd .ondeck_settings_popup_heading {
    background-color:#30afac;
}
#ps .location_style_sd .ps_logo_ondeck_large {
    background:url('../images/ps_logo_ondeck_large_sd.png') no-repeat; 
}
#ps .location_style_sd #ondeck_session_button.button.live {
	color:#30afac;
}
#ps .location_style_sd input[type='submit'].btn,
#ps .location_style_sd .button {
    background-color:#1e9483;
    background-image:-moz-linear-gradient(top,#3ec0c6,#1e9483);
    background-image:-ms-linear-gradient(top,#3ec0c6,#1e9483);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#3ec0c6),to(#1e9483));
    background-image:-webkit-linear-gradient(top,#3ec0c6,#1e9483);
    background-image:-o-linear-gradient(top,#3ec0c6,#1e9483);
    background-image:linear-gradient(top,#3ec0c6,#1e9483);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ec0c6',endColorstr='#1e9483',GradientType=0);
    border:2px solid #3ec0c6;
    border-color: #68cfd2 #33a4a1 #1b7569 #4ab8b3;
}
#ps .location_style_sd a.btn:hover,
#ps .location_style_sd .button a:hover,
#ps .location_style_sd a.button:hover,
#ps .location_style_sd input.btn:hover,
#ps .location_style_sd input.button:hover {
    color:#fff;
    text-decoration:none;
    background-image:-moz-linear-gradient(top,#1e9483,#3ec0c6);
    background-image:-ms-linear-gradient(top,#1e9483,#3ec0c6);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#1e9483),to(#3ec0c6));
    background-image:-webkit-linear-gradient(top,#1e9483,#3ec0c6);
    background-image:-o-linear-gradient(top,#1e9483,#3ec0c6);
    background-image:linear-gradient(top,#1e9483,#3ec0c6);
    background-position: 0;
}
/* OLD OUTDATED COLORS */

/* SAN FRANCISCO */
#ps .sf_color {
	/*color:#b82828;*/
	color:#333;
}
#ps .sf_color:hover {
	color:#e54332;
}
#ps .sf_bg {
	background:#b82828;
}

/* NEW YORK */
#ps .ny_color {
	/*color:#2365bd;*/
	color:#333;
}
#ps .ny_color:hover {
	color:#297be0;
}
#ps .ny_bg {
	background:#2365bd;
}
#ps .ny_bg:hover {
	background:#2a8fe4;
}

/* COLORADO */
#ps .co_color {
	/*color:#d15a1d;*/
	color:#333;
}
#ps .co_color:hover {
	color:#ec7721;
}
#ps .co_bg {
	background:#d15a1d;
}



#ps input[type="submit"].button.white,
#ps input[type="submit"].btn.white,
#ps .button.white {
	color:white;
}
#ps input[type="submit"].button.white,
#ps input[type="submit"].btn.white,
#ps .button.white {
    color:#555;
    font-size:18px;
    font-weight:bold;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    background-color:#fff;
    border-radius:3px;
    text-align:center;
    vertical-align: middle;
    background-image:-moz-linear-gradient(top,#fff,#eee);
    background-image:-ms-linear-gradient(top,#fff,#eee);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#eee));
    background-image:-webkit-linear-gradient(top,#fff,#eee);
    background-image:-o-linear-gradient(top,#fff,#eee);
    background-image:linear-gradient(top,#fff,#eee);
    background-repeat:repeat-x;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.05);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff',endColorstr='#eee',GradientType=0);
    border:1px solid #fff;
    border-color: #efefef #dedede #ddd #efefef;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}



/* GLOBAL BUTTON STYLES */
#ps input[type="submit"].button.red,
#ps input[type="submit"].btn.red,
#ps .button.red {
    color:white;
    font-size:18px;
    font-weight:bold;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    background-color:red;
    border-radius:3px;
    text-align:center;
    vertical-align: middle;
    background-image:-moz-linear-gradient(top,#c71414,#e84646);
    background-image:-ms-linear-gradient(top,#c71414,#e84646);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#c71414),to(#e84646));
    background-image:-webkit-linear-gradient(top,#c71414,#e84646);
    background-image:-o-linear-gradient(top,#c71414,#e84646);
    background-image:linear-gradient(top,#c71414,#e84646);
    background-repeat:repeat-x;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.05);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c71414',endColorstr='#e84646',GradientType=0);
    border:1px solid #fff;
    border-color: #efefef #dedede #ddd #efefef;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

#ps .flatwhite,
#ps .button.flatwhite {
    color:#555;
    font-size:16px;
    font-weight:normal;
    /*text-shadow:0 -1px 0 rgba(0,0,0,0.25);*/
    background-color:#fff;
    border-radius:3px;
    text-align:center;
    vertical-align: middle;
    background-image:none;
    box-shadow: none;
    border:1px solid #fff;
    border-color: #efefef #dedede #ddd #efefef;
}
#ps .btn.info,
#ps .button.white {
    color:#555;
    font-size:18px;
    font-weight:bold;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    background-color:#eee;
    border-radius:3px;
    text-align:center;
    vertical-align: middle;
    background-image:-moz-linear-gradient(top,#fff,#eee);
    background-image:-ms-linear-gradient(top,#fff,#eee);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#eee));
    background-image:-webkit-linear-gradient(top,#fff,#eee);
    background-image:-o-linear-gradient(top,#fff,#eee);
    background-image:linear-gradient(top,#fff,#eee);
    background-repeat:repeat-x;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.05);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff',endColorstr='#eee',GradientType=0);
    border:2px solid #eee;
    border-color: #efefef #dedede #ddd #efefef;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#ps .btn.info:hover,
#ps input[type="submit"].button.white:hover,
#ps input[type="submit"].btn.white:hover,
#ps .button.white a:hover,
#ps a.btn.white:hover,
#ps a.button.white:hover,
#ps input.btn.white:hover,
#ps input.button.white:hover {
    color:#54288a;
    background-position: 0;
    background-image:-moz-linear-gradient(top,#eee,#fff);
    background-image:-ms-linear-gradient(top,#eee,#fff);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#eee),to(#fff));
    background-image:-webkit-linear-gradient(top,#eee,#fff);
    background-image:-o-linear-gradient(top,#eee,#fff);
    background-image:linear-gradient(top,#eee,#fff);
}
#ps input[type="submit"].button.red:hover,
#ps input[type="submit"].btn.red:hover,
#ps .button.red a:hover,
#ps a.btn.red:hover,
#ps a.button.red:hover,
#ps input.btn.red:hover,
#ps input.button.red:hover {
    color:white;
    background-position: 0;
    background-image:-moz-linear-gradient(top,#e84646,#c71414);
    background-image:-ms-linear-gradient(top,#e84646,#c71414);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#e84646),to(#c71414));
    background-image:-webkit-linear-gradient(top,#e84646,#c71414);
    background-image:-o-linear-gradient(top,#e84646,#c71414);
    background-image:linear-gradient(top,#e84646,#c71414);
}
#ps .btn.info,
#ps .alert .button.white a,
#ps .alert .button.white .fa,
#ps .alert .button.white {
	color:#555;
}
#ps .button.blue {
    color:#fff;
    font-size:18px;
    font-weight:bold;
    text-shadow:0 -1px 0 rgba(0,0,0,0.1);
    background-color:#28568a;
    border-radius:3px;
    text-align:center;
    vertical-align: middle;
    background-image:-moz-linear-gradient(top,#3baeff,#28568a);
    background-image:-ms-linear-gradient(top,#3baeff,#28568a);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#3baeff),to(#28568a));
    background-image:-webkit-linear-gradient(top,#3baeff,#28568a);
    background-image:-o-linear-gradient(top,#3baeff,#28568a);
    background-image:linear-gradient(top,#3baeff,#28568a);
    background-repeat:repeat-x;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.05);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3baeff',endColorstr='#28568a',GradientType=0);
    border:2px solid #3baeff;
    border-color: #719ac9 #3d699c #23466e #537eb0;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#ps .button.blue a:hover,
#ps a.btn.blue:hover,
#ps a.button.blue:hover,
#ps input.btn.blue:hover,
#ps input.button.blue:hover {
    color:white;
    background-position: 0;
    background-image:-moz-linear-gradient(top,#28568a,#3baeff);
    background-image:-ms-linear-gradient(top,#28568a,#3baeff);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#28568a),to(#3baeff));
    background-image:-webkit-linear-gradient(top,#28568a,#3baeff);
    background-image:-o-linear-gradient(top,#28568a,#3baeff);
    background-image:linear-gradient(top,#28568a,#3baeff);
}

/* SANTA BARBARA */ 
#ps .sb_color {
	color:#333;
}
#ps .sb_color:hover {
	color:#00611d;
}
#ps .sb_bg {
	background:#004013;
}
.location_style_sb a {
	color:#004013;
}
#ps .location_style_sb #ondeck_content {
    background:url('../images/ondeck_bg_sb.jpg') repeat center center fixed; 
}
#ps .location_style_sb #ondeck_nav_container .navlogo {
    background:url('../images/ps_logo_ondeck_sb.png') no-repeat; 
}
#ps .location_style_sb #ondeck_nav .button.purple {
	color:#004013;
}
#ps .location_style_sb #ondeck_users_container {
	background:url('../images/stripesdark_sb.png') repeat;
}
#ps .location_style_sb #ondeck_users_button.button.selected {
	background:#004013;
}
#ps .location_style_sb .ondeck_settings_popup_heading {
    background-color:#004013;
}
#ps .location_style_sb .ps_logo_ondeck_large {
    background:url('../images/ps_logo_ondeck_large_sb.png') no-repeat; 
}
#ps .location_style_sb #ondeck_session_button.button.live {
	color:#004013;
}
#ps .location_style_sb input[type="submit"].btn,
#ps .location_style_sb .button {
    background-color:#288a45;
    background-image:-moz-linear-gradient(top,#4aba6c,#288a45);
    background-image:-ms-linear-gradient(top,#4aba6c,#288a45);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#4aba6c),to(#288a45));
    background-image:-webkit-linear-gradient(top,#4aba6c,#288a45);
    background-image:-o-linear-gradient(top,#4aba6c,#288a45);
    background-image:linear-gradient(top,#4aba6c,#288a45);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4aba6c',endColorstr='#288a45',GradientType=0);
    border:2px solid #4aba6c;
    border-color: #71c98b #3d9c59 #236e39 #53b06f;
}
#ps .location_style_sb a.btn:hover,
#ps .location_style_sb .button a:hover,
#ps .location_style_sb a.button:hover,
#ps .location_style_sb input.btn:hover,
#ps .location_style_sb input.button:hover {
    color:#fff;
    text-decoration:none;
    background-image:-moz-linear-gradient(top,#288a45,#4aba6c);
    background-image:-ms-linear-gradient(top,#288a45,#4aba6c);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#288a45),to(#4aba6c));
    background-image:-webkit-linear-gradient(top,#288a45,#4aba6c);
    background-image:-o-linear-gradient(top,#288a45,#4aba6c);
    background-image:linear-gradient(top,#288a45,#4aba6c);
    background-position: 0;
}
