.producers-top-menu .navbar-brand {
    background: url('../images/logo_sf.png') no-repeat; 
}
a {
	color:#8d1b0c;
}
a:hover, a:focus {
    color: #da331f;
}
.navbar-signin {
	color:#8d1b0c;
}
.navbar-signin a {
	color:#8d1b0c;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #ad554b;
}
.btn-info {
	background-color:#b72828;
	border-color:#66180e;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  	background-color: #da331f;
	border-color:#66180e;
}
.well {
	background-color:#faf1f1;
	border:1px solid #f1d5d6;
}
#producers-carousel {
    background: url('../images/sf_bg.jpg') no-repeat center center fixed;
}