/* customizable styles */


body {
	height: auto; 
	/* customize_body-background */ background-color: #dff5ff; /* customize_body-background */
}

body#tinymce {
	background-color: #fff;
}

div#main-container #header {
	padding-top: 55px;
	/* customize_header-background */ background-color: #fff; /* customize_header-background */
}	


div#main-container {
	/* customize_main-background */ background-color: #fff; /* customize_main-background */
}

div#main-container #footer {
	/* customize_footer-background */ background-color: #a0dbe3; /* customize_footer-background */
	width: 960px;
	min-height: 150px;
}

div#main-container #header ul li a {
	/* customize_nav-links */ color: #000; /* customize_nav-links */ 
	padding: 10px;
	text-decoration: none;
}

div#main-container #header ul li a:hover {
	/* customize_nav-hover */ background-color: #a0dbe3; /* customize_nav-hover */
	border-right: none;
}

div#main-container #header h1 a, div#main-container #header h1 a:link, div#main-container #header h1 a:visited, div#main-container #header h1 a:active, div#main-container #header h1 a:hover {
	/* customize_site-title */ color: #000; /* customize_site-title */
	text-decoration: none;
}

ul li a.nav-path-selected, ul li.nav-selected {
	font-weight: bold;
}


div#main-container a, div#main-container a:link, div#main-container a:visited, div#main-container a:active {
	/* customize_links */ color: #0099ff; /* customize_links */
	text-decoration: none;
}

div#main-container h1, div#main-container h2, div#main-container h3, div#main-container h4, div#main-container h5, div#main-container h6 {
	/* customize_headings */ color: #000; /* customize_headings */
}

div#main-container .ccm-tags-display ul.ccm-tag-list li {
	/* customize_tag-highlight */ background-color: #A0DBE3; /* customize_tag-highlight */
}

div#main-container, div#main-container ul li {
	/* customize_paragraph_font */ font: normal normal normal 14px/1.8em 'Merriweather', Georgia, serif; /* customize_paragraph_font */
	/* customize_text */ color: #000; /* customize_text */

}

div#main-container {
	/* customize_miscellaneous */ /* customize_miscellaneous */
}

/* text styles */


div#main-container a:hover {
	text-decoration: underline;
}

div#main-container p {
	margin-bottom: 20px;
	margin-top: 20px;
}

div#main-container ul li {
}

div#main-container h1 {
	font-size: 32px;
	padding-top: 0px;
	margin-bottom: 8px;
}

div#main-container h2 {
	font-size: 28px;
	padding-top: 0px;
	line-height: 28px;
	margin-bottom: 5px;
}

div#main-container h3 {
	font-size: 22px;
	padding-top: 6px;
	line-height: 22px;
	margin-bottom: 3px;
}

div#main-container h4 {
	font-size: 20px;
	padding-top: 8px;
	line-height: 20px;
	margin-bottom: 3px;
}

div#main-container h5 {
	font-size: 16px;
	margin-bottom: 3px;
}

div#main-container h6 {
	font-size: 12px;
	margin-bottom: 3px;
}

div#main-container hr {
	margin: 20px 0;
}


/* alternate emphasis style for inclusion in content block editor aka tinymce */

.serif-emphasis {
	/* color: #0099ff; */
	font-family: Georgia, "Times New Roman", serif;
	font-weight: 100;
	font-style: italic;
}

.fineprint {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	font-size:9px;
}
.button {
    color:#fff;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    background-color:#0074cc;
    background-image:-moz-linear-gradient(top,#914abb,#54288a);
    background-image:-ms-linear-gradient(top,#914abb,#54288a);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#914abb),to(#54288a));
    background-image:-webkit-linear-gradient(top,#914abb,#54288a);
    background-image:-o-linear-gradient(top,#914abb,#54288a);
    background-image:linear-gradient(top,#914abb,#54288a);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc',endColorstr='#0055cc',GradientType=0);
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.img-responsive {

}

/* site title styles */

div#main-container #header h1 {
	font-size: 28px;
	margin-left: 45px;
	padding-bottom: 55px;
	margin-bottom: 0;
	display: inline;
	float: left;
}

/* header list styles */

div#main-container #header ul {
	float: right;
	list-style-type: none;
	margin-top: 14px;
	margin-bottom: 0;
	margin-right: 45px;
}

div#main-container #header ul li {
	display: inline;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	/* border-right: 1px solid #d9d9d9; */
}

/* footer styles */

div#footer p {
	/* customize_footer-text */ color: #000; /* customize_footer-text */
}

div#footer #footer-inner p {
	margin-top: 0;
	margin-bottom: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	display: inline;
}

div#footer #footer-inner p.footer-copyright {
	float: left;
	font-weight: bold;
}

div#footer #footer-inner p.footer-sign-in {
	float: left;
}

div#footer #footer-inner p.footer-tag-line {
	float: right;
	font-family: 'Merriweather', Georgia, serif;
}

div#footer #footer-inner a, div#footer #footer-inner a:link, div#footer #footer-inner a:visited, div#footer #footer-inner a:active {
	text-decoration: none;
}

div#footer #footer-inner a:hover {
	text-decoration: underline;
}

li.month {
	margin-left: 0px;
}

.ondeck_list_avatar {
	width:50px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
}
#ondeck_list_table_inset {
	display:block;
	clear:both;
	width:100%;
	height:auto;
	float:left;
	padding:20px;
}
#ondeck_list_table {
	width:100%;
}
#ondeck_list_table .current {
	background:#773ba5;
	color:white;
	font-weight:bold;
}
#ondeck_list_table .current .ondeck_list_name {
	font-size:22px;
}
#ondeck_list_table .current a,
#ondeck_list_table .current .fa {
	color:white;
}
#ondeck_list_table .next {
	background:#f0e5f9;
	font-size:18px;
}
#ondeck_list_table .second {
	background:#f8f2fc;
}
#ondeck_list_table .turnover,
#ondeck_list_table .turnover a {
	color:#999;
}
#ondeck_list_table tr {
	width:100%:
}
#ondeck_list_table td {
	padding:2px;
	vertical-align: middle;
}
#ondeck_list_table th {
	color:#999;
	font-size:14px;
	font-family:Aldrich;
	font-weight:normal;
	text-transform:uppercase;
}
#ondeck_list_table td.played {
	color:#AAA;
}
#ondeck_list_table td.skipped {
	color:darkred;
}
.ondeck_list_num {
	width:40px;
	float:left;
}
.ondeck_list_avatar {
	width:50px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
}
.ondeck_list_name {
	width:auto;
}
div.ondeck_list_name {
	float:left;
}
.ondeck_list_start {
	width:100px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
}
.ondeck_list_end {
	width:100px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
}
.ondeck_list_controls {
	width:240px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
}
.ondeck_list_num_circle {
	font-size:16px;
	font-weight:bold;
	text-align:center;
}
.ondeck_list_avatar img {
	width:48px;
	height:48px;
}
.ondeck_list_avatar .placeholder {
	width:48px;
	height:48px;
	background:#F2F2F2;
}