#highlights_body{ background-color: black; background-repeat: no-repeat; background-image: url(./images/media_skin.jpg); width: 800px; -webkit-box-shadow: 3px 3px 10px 1px #616061;
-moz-box-shadow: 3px 3px 10px 1px #616061;
box-shadow: 3px 3px 10px 1px #616061; }
 #highlights_body a{ color: #bebebe; }
 .player_wrapper{}
.player{}
.scroller{ height: 328px; padding-top: 12px; padding-right: 12px; padding-left: 12px; width: 275px; float: right;clear: both; overflow-y: auto;}
.rssIcon{float: left;clear: both;}
#selected.scroll_item{ }
		.scroll_item{ color: #979797; display: block; padding-left: 10px; margin-left: -5px; padding-top: 5px; border-bottom-color: black; border-bottom-width: 1px; border-bottom-style: dashed; clear: right; float: right; cursor: pointer;}
.thumb_img{margin-left: 8px; margin-right: 8px; margin-bottom: 5px; float: left; border-color: black; border-width: 2px; border-style: solid; background-color: #dddddd; height: 70px; width: 80px;}
.preview{ line-height: 18px; font-size: 12px; width: 270px; }.play_button{padding: 8px; background-color: #e9e9e9; border-color: #c9c9c9; border-width: 1px; border-style: solid; float: right;}
 .main_display{ padding-left: 0px; padding-top: 0px; margin-left: 0px; margin-top: 0px!important; margin-right: 12px; height: 340px; width: 501px; }
 .media_contain{ margin-right: auto; height: 335px; width: 480px; margin-left: auto; margin-top: 0px!important; }
 iframe{ margin-top: 0px!important; height: 340px!important; width: 495px!important; }
 .player{ margin-left: 0px; margin-top: 0px!important; }
 .media_contain div{ }
 .audio_wrap{ margin-right: auto; margin-left: auto; padding-left: 40px; padding-top: 25px; }
 .audio_wrap img{ margin-right: auto; margin-left: auto; }
 .rssIcon{padding-top: 12px; float: left; width: 100%;}
 .rssIcon img{ float: left; }.rssIcon a{ padding-left: 12px; float: left; }
 .audioplayer{padding-left: 100px; padding-top: 311px;}
  #player_info{ background-color: black; background-position: 0 bottom; background-repeat: no-repeat; background-image: url(./images/media_skin.jpg); color: #bebebe; line-height: 16px; font-size: 12px; padding-bottom: 8px; padding-right: 22px; padding-left: 22px; padding-top: 15px; position: relative; z-index: 1000; float: left; display: block; width: 757px; height: 42px;-webkit-box-shadow: 3px 3px 10px 1px #616061;
-moz-box-shadow: 3px 3px 10px 1px #616061;
box-shadow: 3px 3px 10px 1px #616061; }
  .header_menu{ padding-bottom: 3px!important; padding-top: 3px!important; display: block; float: left; background-repeat: no-repeat; font-family: sans-serif;!important; padding-left: 22px!important; margin-right: 4px; font-size: 12px; margin-bottom: 8px; color: #4c4c4c!important; }
 .header_menu{ margin-right: 12px; padding-right: 8px; margin-top: 3px; line-height: 18px!important; }
 .ui-icon{ float: left; margin-left: -20px; }
 .file_description{ color: #f5f5f5; width: 500px; float: right; }
 .custom_style{ width: 100px; }