.player_wrapper{float: left;}
.player{float: left;clear: both;}
.scroller{ width: 500px!important;}
.rssIcon{float: left;clear: both;}
.scroll_item{ margin-bottom: 12px; padding-bottom: 12px; padding-right: 12px; padding-left: 12px; padding-top: 12px; border-color: #dfdfdf; border-width: 1px; border-style: solid; background-color: #f5f5f5; clear: left; float: left;}
.thumb_img{margin-right: 12px; margin-bottom: 25px; float: left; border-color: white; border-width: 2px; border-style: solid; background-color: #dddddd; height: 95px; width: 120px;}
.preview{ width: 560px; }
.play_button{display: block; height: 38px; width: 73px; background-image: url(images/play_button.png); background-repeat: no-repeat; float: right;}
a.play_button:hover{background-repeat: no-repeat; background-image: url(images/play_button_hover.png);}
.video_button{display: block; height: 38px; width: 73px; background-image: url(images/video_button.png); background-repeat: no-repeat; float: right;}
a.video_button:hover{background-image: url(images/video_button_hover.png);}
.download_button{display: block; height: 38px; width: 73px; background-image: url(images/download_button.png); background-repeat: no-repeat; float: right;}
a.download_button:hover{background-repeat: no-repeat; background-image: url(images/download_button_hover.png);}

.rssIcon{width: 100%;}

.player_title{ font-weight: bold; font-size: 18px; }

.scroll_item p{ margin-top: 8px; }

.button_float{ top: 0px; right: 5px; float: right; position: relative; }
	
.mejs-container{margin-top: 20px!important}