#ccm-dashboard-content{margin-top: 80px!important;}
.form_build_containter{padding: 22px;height: 100%}
.ccm-pane-options-permanent-search label{float:left; margin-right:22px;}
.ccm-pane-body{position: relative;padding: 0!important;}
.ccm-attribute-icon{margin-right: 22px!important;}
#diolog_content .ccm-pane-body{padding: 8px!important;}
.attributes{}
.attributes,.attribute_form{}
.form_preview{margin-left: 0!important;margin-right: 22px;}
#form_question_types_container{position: relative;}
#question_types{list-style: none;margin-left: -5px;margin-top: 22px;max-height:420px;overflow-y: scroll;padding: 22px;border: 1px solid #c9c9c9;background-color: #f8f8f8;width: 200px;}
.editable_form{padding-top: 60px;}
.questions_fixed{position: fixed;top: 40px;}
#question_types li,.cloned_li{list-style: none;padding:4px 12px;background-color: #f7f7f7;border: 1px solid #cfcfcf;cursor: pointer;}
.progress-striped{width: 220px;margin-top: 8px;}
.ccm-ui div.clearfix{padding-bottom: 0!important;margin-top: 6px;padding-top: 12px;}

#form_preview_items ul{min-height: 50px;}
#form_preview_items ul li,#form_preview_items ul{list-style: none; margin-left: 0px;}
#form_preview_items li.draggable,#form_preview_items .ui-draggable{padding: 12px;margin: 4px 0;border:1px solid gainsboro;list-style: none;}
.dropable{min-height: 8px;position: relative;display: block;}
.ui-state-highlight{background-color: #daffbf;margin: 20px;display: block;height:42px;width: 100%;}

.form_build_containter .input{margin-bottom: 6px;position: relative;}
.form_build_containter .input.simple{margin-left: 45px!important;}
.form_build_containter .input .remove{position: absolute;}
.closer_method{padding: 8px;border: 1px dashed #cfcfcf;background-color: #f5f5f5;}
.hidden_method{padding: 8px;border: 1px dotted #cfcfcf;}
.icon_form {
display: block;
height:22px;
width:30px;
position: absolute;
right: 0px;
top: 3px;
cursor: pointer;
}
.form_preview .clearfix{border-bottom: 1px dashed #e5e5e5;min-height: 38px;}
.clearfix:hover{cursor: move;}
.address_form{margin-left: 0!important;}
.clearfix i{padding: 0 4px;}
.clearfix .simple i{margin-top: 2px;}
.clearfix i:hover{cursor: pointer;}

.ui-draggable-dragging{list-style: none; border: 1px solid #bfbfbf;padding: 12px;max-width: 460px;background-color: rgba(171,171,171,0.42)}