/* CSS Document */

.form-responses-wrapper {
	
}
.form-responses-wrapper .frTitle {
	font-size:1.5em;
	font-weight:bold;
}
.form-responses-wrapper .frTopNav {
	margin-bottom:8px;
}
.form-responses-wrapper .frRow {
	margin:0px; 
	padding:0px; 
	width:100%; 
	height:auto;
}
.form-responses-wrapper .frOddRow {
	
}
.form-responses-wrapper .frEvenRow {
	background-color:#bbb;
}
.form-responses-wrapper .entry-form {
	margin-bottom:2px;
	width:100%;
}
.form-responses-wrapper .entry-form td {
	padding:4px;
}
.form-responses-wrapper .entry-form td.header {
	background-color:#d3e4f0;
	font-weight:bold;
}
.form-responses-wrapper .frRowNav {
	text-align:right; 
	margin-bottom:16px;
}
.form-responses-wrapper .noDisplay {
	display: none;	
}
.pagination {
	text-align:center;
}
.pagination .pageLeft {
	float:left;
	position:relative;
}
.pagination .pageRight {
	float:right;
	position:relative;
}
.pagination .currentPage{}
.pagination .ltgray {
	color:#bbb;	
}
