.player_wrapper{float: left;}
.player{float: left;clear: both;}
.scroller{margin-bottom: 35px; float: left;clear: both;}
.rssIcon{float: left;clear: both;}
.scroll_item{clear: left; float: left;}
.thumb_img{margin-right: 12px; margin-bottom: 25px; float: left; border-color: white; border-width: 2px; border-style: solid; background-color: #dddddd; height: 135px;}
.preview{ width: 600px; }.play_button{padding: 8px; background-color: #e9e9e9; border-color: #c9c9c9; border-width: 1px; border-style: solid; float: right;}
.rssIcon{width: 100%;}
.gallery_thumb{max-height: 120px; max-width: 200px; margin-bottom: 12px; margin-right: 12px; border-color: white; border-width: 8px; border-style: solid;-moz-border-radius: 8px;
border-radius: 8px;-moz-box-shadow: 0px 0px 6px #c8c8c8;-webkit-box-shadow: 0px 0px 6px #c8c8c8;box-shadow: 0px 0px 6px #c8c8c8;}
.gallery_thumb:hover{cursor: pointer;}
.mejs-container{margin-top: 20px!important}